@model Investments.Models.Optimazation

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<h4>Optimazation</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="date" class="control-label"></label>
                <input asp-for="date" class="form-control" />
                <span asp-validation-for="date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="dividentsA" class="control-label"></label>
                <input asp-for="dividentsA" class="form-control" />
                <span asp-validation-for="dividentsA" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="dividentsB" class="control-label"></label>
                <input asp-for="dividentsB" class="form-control" />
                <span asp-validation-for="dividentsB" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="sum" class="control-label"></label>
                <input asp-for="sum" class="form-control" />
                <span asp-validation-for="sum" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="limitA" class="control-label"></label>
                <input asp-for="limitA" class="form-control" />
                <span asp-validation-for="limitA" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="limitB" class="control-label"></label>
                <input asp-for="limitB" class="form-control" />
                <span asp-validation-for="limitB" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="investmentA" class="control-label"></label>
                <input asp-for="investmentA" class="form-control" />
                <span asp-validation-for="investmentA" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="investmentB" class="control-label"></label>
                <input asp-for="investmentB" class="form-control" />
                <span asp-validation-for="investmentB" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="result" class="control-label"></label>
                <input asp-for="result" class="form-control" />
                <span asp-validation-for="result" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
