@{
    ViewData["Title"] = "Результат";
}

<h2>Welcome</h2>

<ul>
    
    @for (int i = 0; i < 0/*(int)ViewData["NumTimes"]*/; i++)
    {
        <li>@ViewData["Message"]</li>
    }
    @ViewData["x1"]
    <br>
    @ViewData["x2"]
    <br>
    @ViewData["f"]
    


</ul>